@using HRManager.ViewModels
@model AddCityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-tower"></span></span>
                    <input type="text" class="form-control" placeholder="City Name" style="width:150px">
                </div>
            </div>
            <hr />
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-send"></span></span>
                    <input type="text" class="form-control" placeholder="Postal Code" style="width:150px">
                </div>
            </div>
        </div>
    </div>
    <p><a class="btn btn-default" href="@Url.Action("Add","ManageCity")" role="button">Submit</a></p>
</form>
<div class="jumbotron">
    <h4>Human Resource Add City Page.</h4>
    <p>SomeThingHere SomeThingHere SomeThingHere</p>
    <p><a class="btn btn-default btn-primary" href="@Url.Action("Index","Home")" role="button">Show City</a></p>
</div>
